<div class="card mb-3">
  <div class="card-header" style="color: teal">
    Edit Contact
  </div>
  <div class="card-body">
    <form (ngSubmit)=editContact()>
      <input
        label="Name"
        name="name"
        placeholder="Enter Your Name"
        value=name
        [(ngModel)]="name"
      />
      <input
        label="Email"
        type="email"
        name="email"
        placeholder="Enter Email"
        value=email
      />
      <input
        label="Phone"
        name="phone"
        placeholder="Enter Phone Number"
        value=phone
      />
      <input
        value="Update Contact"
        class="btn btn-light btn-block"
        style="color: orangered"
      />
    </form>
  </div>
</div>
